<h1>Add a site</h1>
<form action = "/links" method="post">
  <p>Title</p>
  <input type="text" name="title">
  <p>URL</p>
  <input type="text" name="url">
  <p>Tag</p>
  <input type="text" name="tag_1_name">
  <input type="submit" value="Submit">
</form>
